<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">        
        <script type="text/javascript" src="/js/log_in.js"></script>
        <link rel="stylesheet"  type="text/css" href="/css/zhuye.css">
	</head>
<body class="body">
    <div class="div">
        <div>
            your name :<input  id="account_number" type="TEXT" name="account_number" placeholder="your account number" onchange="check_account_number()">
        </div>
        <br/>
        <div>
            your password:
            <input id="password" type="PASSWORD" name="password" placeholder="your password word">
        </div>
        <br/>
        <button onclick="check()">login</button>
    <form action="set.html" method="get">
        <input type="SUBMIT" value="set">
    </form>
    </div>
</body>
</html>
